$bg-black: #414141;
$bdr-gray: #606060;
$fnt-white: #ffffff;
$fnt-green: #00d6af;
$fnt-blue: #00c3cf;
$fnt-red: #f05600;
$fnt-yellow: #ccff00;
html,
body,
#root,
.app {
    width: 100%;
    height: 100%;
}

.background-container {
    width: 100%;
    height: 100%;
    background-color: $bg-black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .main-container {
        background-color: $bg-black;
        width: 50%;
        height: 100%;
        color: $fnt-white;
        overflow: hidden;
        @media all and (max-width: 1200px) {
            width: 80%;
        }
        @media all and (max-width: 1000px) {
            width: 90%;
        }
        @media all and (max-width: 800px) {
            width: 100%;
        }
        .main-content {
            width: 100%;
            height: 90%;
        }
    }
}
